<mat-card class="center-card">
    <mat-card-content>
      <div class="card p-2">
        <form (ngSubmit)="createPost()"enctype="multipart/form-data">
          <div class="form-group">
            <label for="images">Upload Images:</label>
            <input type="file" id="images" name="images" (change)="onFileSelected($event)" multiple class="form-control">
          </div>
  
          <table>
            <tr *ngFor="let file of files">
              <td>
                <!-- Use ngIf to conditionally render the image when the processedImg is available -->
                <img *ngIf="file.processedImg"  style="width: 100px;" [src]="file.processedImg" alt="File Image" class="img-thumbnail" />
              </td>
            </tr>
          </table>  
          <br>
          <label for="content">Content:</label>
    <textarea id="content" name="content" [(ngModel)]="post.content" required></textarea>
    <br>       
                
          <label for="postedBy">Posted By:</label>
          <input type="text" id="postedBy" name="postedBy" [(ngModel)]="post.postedBy" required>
          <br>
          
                <br>
  
      <label for="tags">Tags:</label>
      <input type="text" id="tags" name="tags" [(ngModel)]="newTag">
      <button type="button" (click)="addTag(newTag)">Add Tag</button>
      <br>
      <div *ngFor="let tag of post.tags; let i=index">
        <span>{{ tag }}</span>
        <button type="button" (click)="removeTag(i)">Remove</button>
      </div>
      <br>
                <button mat-raised-button type="submit"  color="primary" style="float: right;"  >Post</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
