<div class="card-body p-4">
  <h5 class="card-title fw-semibold mb-4">Exercises List</h5>
  <div class="table-responsive">
    <table class="table text-nowrap mb-0 align-middle">
      <thead class="text-dark fs-4">
      <tr>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Name</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Type</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Description</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Image</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Actions</h6></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let exercise of exercices">
        <td class="border-bottom-0">{{ exercise.nom }}</td>
        <td class="border-bottom-0">{{ exercise.type }}</td>
        <td class="border-bottom-0">{{ exercise.description }}</td>
        <td class="border-bottom-0"><img [src]="exercise.image" alt="Exercise Image" style="max-width: 100px;"></td>
        <td class="border-bottom-0">
          <button class="btn btn-primary btn-sm me-2" [routerLink]="['/backOffice/exercices/exercice', exercise.id]">Update</button>
          <button class="btn btn-danger btn-sm" (click)="deleteExercice(exercise.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
