<section class="slider_section position-relative">
  <div class="side_heading">
    <h5>
      E
      V
      E
      R
      Y
      D
      A
      Y
    </h5>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-4 offset-md-1">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="img-box b-1">
                <img src="https://tonderhallerne.dk/filer/strong-man-training-gym-scaled.jpg" alt="Image Description">
              </div>
            </div>

            <div class="carousel-item">
              <div class="img-box b-2">
                <img src="https://static.toiimg.com/photo/75126749.cms" alt="">
              </div>
            </div>
            <div class="carousel-item active">
              <div class="img-box b-3">
                <img src="https://static.toiimg.com/thumb/msid-96658120,width-400,resizemode-4/96658120.jpg" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="img-box b-4">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUR4AABMGtMuAfytEjUnb_2qQV713u_iWQSA&usqp=CAU" alt="">
              </div>
            </div>
          </div>
          <div class="carousel_btn-box">
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="detail-box">
          <h1>
            Renewed <br>
            Life
          </h1>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words
          </p>

          <div class="btn-box">
            <a href="" class="btn-1">
              Contact Us
            </a>
            <a href="" class="btn-2">
              Order Now
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
