


<nav>
    <div class="container">
        <h2 class="logo">
            VITANOVA
        </h2>

        <div class="bsearch-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="Search for ..." >
        </div>
        <div class="create">
            <label class="btn btn-primary" >Create</label>
            <div class="profile-picture">
                <img src="./assets/Frontend/images/profile-1.jpg" alt="">
            </div>
        </div>
    </div>
</nav>
  
