<div class="card-body p-4">
  <h5 class="card-title fw-semibold mb-4">Foods List</h5>
  <button class="btn btn-primary mb-3" routerLink="/backOffice/foods/add">Add Food</button>
  <div class="table-responsive">
    <table class="table text-nowrap mb-0 align-middle">
      <thead class="text-dark fs-4">
      <tr>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Name</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Description</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Type</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Image</h6></th>
        <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Actions</h6></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let food of foods">
        <td class="border-bottom-0">{{ food.name }}</td>
        <td class="border-bottom-0">{{ food.description }}</td>
        <td class="border-bottom-0">{{ food.type }}</td>
        <td class="border-bottom-0"><img alt="" [src]="'data:image/jpeg;base64,' + food.image" alt="Food Image" style="width: 100px;height: 100px;"></td>
        <td class="border-bottom-0">
          <button class="btn btn-primary btn-sm me-2"  [routerLink]="['/backOffice/foods/edit', food.id]">Update</button>
          <button class="btn btn-danger btn-sm" (click)="deleteFood(food.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
