<div class="container mt-5">
  <h1>List of Recipes</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div *ngFor="let recipe of pagedRecipes" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="recipe.imageUrl" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text">{{ recipe.description }}</p>
              <a [href]="recipe.link" class="btn btn-primary" target="_blank">Read More</a>

            </div>
          </div>
        </div>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === 0 }">
            <a class="page-link" style="cursor: pointer;" (click)="changePage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let _ of Array.from({ length: totalPages }); let i = index"
              [class.active]="currentPage === i">
            <a class="page-link" style="cursor: pointer;" (click)="changePage(i)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages - 1 }">
            <a class="page-link" style="cursor: pointer;" (click)="changePage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

